:root {
  --primaty-color-heading: #2e2f42;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duraction: 250ms;
}
* {
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.contact {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

.container {
  width: 1158px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  /* outline: 1px solid tomato; */
}
/* ======================COMPONENTS======================  */

.logo-site {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.heading {
  text-align: center;

  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.heading-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}

.btn {
  display: block;
  padding: 16px 32px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: #ffffff;
  background-color: #4d5ae5;
  border-radius: 4px;
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*====================== HEADER ======================  */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav {
}

.header-logo {
  margin-right: 76px;
  padding: 24px 0;
}

.navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.pages-nav {
  display: flex;
  gap: 40px;
}

.part-logo {
  color: #2e2f42;
}

.menu-link {
  position: relative;
}

.link-item {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: block; /*важливо під час розміщення*/
  padding: 24px 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

.link-item:focus,
.link-item:hover,
.link-item.current {
  color: #404bbf;
}

.link-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  height: 4px;
  width: 100%;
  background-color: #404bbf;
  border-radius: 2px;
}

.link-item:hover:after,
.link-item:focus:after,
.link-item.current::after {
  opacity: 1;
}

/*====================== ADDRESS ====================== */

.contact {
  font-style: normal;
  margin-left: auto;
  display: flex;
}

.contact-item {
  padding: 24px 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}

.contact-item:focus,
.contact-item:hover {
  color: #404bbf;
}

.address {
  gap: 40px;
}
/*====================== HERO BANER ====================== */
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-text {
  margin-bottom: 48px;
  margin-right: auto;
  margin-left: auto;
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-btn {
  margin-right: auto;
  margin-left: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*====================== SOLUTION ====================== */
.solution {
  padding-bottom: 120px;
  padding-top: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.solution-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;

  margin-bottom: 8px;
}

.solution-list {
  display: flex;
  gap: 24px;
}

.solution-item {
  width: calc((100% - 72px) / 4);
}

/*====================== WHAT ARE WE DOING ====================== */
.project {
  padding-bottom: 120px;
}

.heading-proj {
  margin-bottom: 72px;
}

.project-menu {
  display: flex;
  gap: 24px;
}
/*====================== TEAM ====================== */
.team {
  padding-top: 120px;
  padding-bottom: 120px;
}

.heading-team {
  margin-bottom: 72px;
}

.team {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-name-container {
  padding: 32px 16px;
}

.team-name {
  text-align: center;
}

.team-position {
  text-align: center;
  margin-bottom: 8px;
}

.container-medialinks {
}

.medialinks-lits {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.medialist-item {
  height: 40px;
  width: 40px;
}

.medialinks-link {
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  height: 100%;
  widows: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.medialinks-link:hover,
.medialinks-link:focus {
  background-color: #404bbf;
}

.medialist-ico {
  fill: #f4f4fd;
}
/*====================== COSTUMERS ====================== */
.costumers {
  height: 440px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.heading-costumers {
  margin-bottom: 72px;
}

.costumers-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.costuners-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.costumers-link {
  display: flex;
  align-items: center;
  justify-content: center;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;

  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;
}

.costumers-link:hover,
.costumers-link:focus {
  border: 1px solid #404bbf;
  color: #404bbf;
}

.costumers-link:hover .costumers-icon,
.costumers-link:focus .costumers-icon {
  fill: #404bbf;
}

.costumers-icon {
  fill: currentColor;
}

/*====================== PORTFOLIO ====================== */
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-btn {
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  background-color: #f4f4fd;
  color: #4d5ae5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .hover-text,
.portfolio-link:focus .hover-text {
  transform: translateY(0%);

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.heading-list-container {
  padding: 32px 16px;

  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
}

.product-thumb {
  position: relative;
  overflow: hidden;
}

.hover-text {
}

.hover-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/*====================== FOOTER  ======================*/

.footer {
  background-color: #2e2f42;
  height: 312px;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-container-logo {
  margin-right: 120px;
}

.footer-link {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
}

.footer-medialinks {
}

.medialinks-text-footer {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.medialist-list-footer {
  display: flex;
  gap: 16px;
}

.medialist-item-footer {
  width: 40px;
  height: 40px;
}

.medialist-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;

  background-color: #4d5ae5;
  border-radius: 50%;
}

.medialist-link-footer:hover,
.medialist-link-footer:focus {
  background-color: #31d0aa;
}

.medialinks-icon-footer {
  fill: #f4f4fd;
}

.subscribe {
  margin-left: 80px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.subscribe-input {
  /* display: flex;
  flex-wrap: nowrap; */

  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;

  width: 264px;
  height: 40px;
  padding: 8px 16px;

  color: #ffffff;
  background-color: transparent;
  outline: transparent;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  min-width: 165px;
  height: 40px;
  margin-right: 0;
  padding: 8px 24px;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #404bbf;
}

.icon-subscribe {
  margin-left: 16px;
}

/* .subscribe-btn::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;

  background-image: url(../images/icon/subscribe.svg);
} */

/* ======================= MODAL =============  */

.backdroup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* padding-top: 24px;
  padding-right: 24px; */
  padding: 72px 24px 24px 24px;

  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdroup.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  /* margin-left: auto; */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.icons-modal {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}
.modal-btn:hover,
.modal-btn:focus {
  border: none;
  background-color: #404bbf;
}

.modal-btn:hover .icons-modal,
.modal-btn:focus .icons-modal {
  fill: #ffffff;
}

.modal-form-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;

  margin-bottom: 16px;
}

.modal-form {
  /* display: flex;
  flex-direction: column; */
  width: 360px;
}

.modal-form-container {
  margin-bottom: 8px;
}

.modal-name-container {
  position: relative;
}
/* 
.modal-name-container:focus-within input {
  border-color: #4d5ae5;
}

.modal-name-container:focus-within svg {
  fill: #4d5ae5;
} */

.modal-label {
  display: block;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  outline: transparent;
}

.modal-form-input:focus {
  border-color: #4d5ae5;
}

.modal-form-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.modal-input {
  background-color: transparent;
  padding-left: 38px;
  width: 360px;
  height: 40px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment-container {
  margin-bottom: 16px;
}

.form-textarea {
  padding: 8px 16px;

  width: 100%;
  height: 120px;
  resize: none;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus {
  border-color: #4d5ae5;
}

.form-texarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-checked {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

/* .checked-label {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.checked-label span {
  fill: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox-cost {
  display: inline-flex;

  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .form-checkbox {

} */

.form-checkbox:checked + .checked-label span {
  border: none;
  background-color: #404bbf;
  fill: #ffffff;
}

.modal-form-link {
  margin-left: 5px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: #4d5ae5;
}

.submit-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  margin-bottom: 24px;
  cursor: pointer;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;

  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #404bbf;
}
